{{>header}}
<form class="login-form" action="/login" method="post">
       <h2>Welcome To Book Besharam</h2> 
    <div class="form-group">
        <input name="email" type="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input name="password" type="password" placeholder="Password">
    </div>
    <button type="submit" id="btn" class="flex">Submit</button>
</form>

</body>

</html>